@font-face{
    font-family: HelveticaNeueLTStd Roman;
    src: url(../assets/fonts/HelveticaNeueLTStd-Roman.otf) format("opentype");
}
@font-face{
    font-family: HelveticaNeueLTStd Lt;
    src: url(../assets/fonts/HelveticaNeueLTStd-Lt.otf) format("opentype");
}
@font-face{
    font-family: HelveticaNeueLTStd Bd;
    src: url(../assets/fonts/HelveticaNeueLTStd-Bd.otf) format("opentype");
}
@font-face{
    font-family: HelveticaNeueLTStd Md;
    src: url(../assets/fonts/HelveticaNeueLTStd-Md.otf) format("opentype");
}
@font-face{
    font-family:  HelveticaNeueLTStd Hv;
    src: url(../assets/fonts/HelveticaNeueLTStd-Hv.otf) format("opentype");
}
@font-face{
    font-family:  HelveticaNeueLTStd It;
    src: url(../assets/fonts/HelveticaNeueLTStd-It.otf) format("opentype");
}
